html {
  background-color: #e3e3e3;
  color: #333333;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
}

.app {
  text-align: center;
  line-height: 1.5rem;
  a {
    color: #009998;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    font-style: italic;
  }
  h2 {
    font-size: 1.5rem;
  }
}