.game {
  .difficultyPicker {
    margin: 1rem;
    a {
      display: inline-block;
      text-transform: capitalize;
      margin-right: 1rem;
      &.selected {
        color: #f96a71;
      }
    }
  }
  .timer {
    color: #f96a71;
    margin: 1rem;
    font-size: 2rem;
  }
  .alert {
    position: absolute;
    top: 0;
  }
  .howto {
    margin-top: 2rem;
    i {
      font-weight: 600;
    }
  }
}
