.game {
  .difficultyPicker {
    margin: 1rem;
    line-height: 1.25rem;
    a {
      display: inline-block;
      text-transform: capitalize;
      margin-right: 1rem;
    }
  }
  .timer {
    margin: 1rem;
    font-size: 2rem;
  }
}
