@tilesize: 30px;

.tile {
  cursor: pointer;
  width: @tilesize;
  height: @tilesize;
  line-height: @tilesize;
  text-align: center;
  border: 1px solid #c2c2c2;
  background-color: #dcdcdc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  &.flagged {
    background: #4ba6a0 url(../img/flag.svg) no-repeat center center;
  }
  &.revealed {
    cursor: auto;
    background-color: lightgrey;
    box-shadow: inset 10px 10px 4px -9px rgba(0, 0, 0, 0.7);
    &.mine {
      background: #f96a71 url(../img/explosion.svg) no-repeat center center;
    }
    &.neighborcount1 {
      color: blue;
    }
    &.neighborcount2 {
      color: green;
    }
    &.neighborcount3 {
      color: red;
    }
    &.neighborcount4 {
      color: purple;
    }
    &.neighborcount5 {
      color: maroon;
    }
    &.neighborcount6 {
      color: cyan;
    }
    &.neighborcount7 {
      color: black;
    }
    &.neighborcount8 {
      color: gray;
    }
  }
}