.tile {
  cursor: pointer;
  border: 1px solid darkgrey;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  &.revealed {
    cursor: auto;
    background-color: lightgrey;
    font-weight: 600;
    &.neighborcount1 {
      color: blue;
    }
    &.neighborcount2 {
      color: green;
    }
    &.neighborcount3 {
      color: red;
    }
    &.neighborcount4 {
      color: purple;
    }
    &.neighborcount5 {
      color: maroon;
    }
    &.neighborcount6 {
      color: cyan;
    }
    &.neighborcount7 {
      color: black;
    }
    &.neighborcount8 {
      color: gray;
    }
  }
}